*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

html body.dark-mode {
    scroll-behavior: smooth;
    background-color: black;
    color:white;
    font-family: "Rubik", monospace;
    text-align: center;
    box-sizing: border-box;
    height: 100vh;
}

html body.white-mode {
    scroll-behavior: smooth;
    background-color: white;
    color:black;
    font-family: "Rubik", monospace;
    text-align: center;
    box-sizing: border-box;
    height: 100vh;
}

#portfoliowebsite {
    font-size: 16;
    font-weight: 500;
    opacity: 60%;
    margin-top: 10px;
}
body.white-mode #portfoliowebsite {
    opacity: 80%;
    font-weight: 500;
}

/* Hero Section */

.hero {
    position: absolute;
    inset: 0px;
    width: 17rem;
    height: 5rem;
    max-width: 100vw;
    max-height: 100dvh;
    margin: auto;
 }
.hero h1 {
    font-size: 30;
    font-weight: 500;
}
.hero p {
    opacity: 60%;
    margin-top: -5px;
    font-weight: 500;
}
body.white-mode .hero p {
    opacity: 80%;
}

.hero button {
    margin-top: 10px;
    opacity: 60%;
    padding: 10px 38px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    font-size: 1em;
}
body.white-mode .hero button {
    opacity: 80%;
    background-color: black;
    color: white;
}




/* Project Section */

.projects {
    width: 100%;
    margin-top: 100vh;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20%;
}


.section-name {
   font-size: 25px; 
   font-weight: 500;
   margin-bottom: 10%;
   padding-top: 5%;
}

.projects .project-name {
    font-size: 20px;
    text-align: left;
    margin: 0 0 1% 5%;
}

.projects .tags {
    display: flex;
    margin: 1% 0 1% 5%;
    gap: 10px;
}

.projects .tag {
    padding: 3px 20px;
    width: fit-content;
    outline: 2px solid #FFFFFF;
    border-radius: 10px;
    flex-direction: row;
    text-align: left;
}

.projects .year {
    background-color: #555555;
}

.projects img {
    width: 90%;
    border-radius: 20px;
}

.divider {
    width: 90%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.6);
    margin: 10% auto;
}



/* About Section */
.about {
    height: 100%;
    width: 90%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.picandname {
    display: flex;
    align-items: center;
}

.picandname .name {
    font-size: 25px;
    font-weight: 500;
    margin-left: 4%;
}

.introduction {
    font-size: 2,5vh;
    opacity: 60%;
    margin-top: 10px;
    text-align: left;
    &:last-child{
        margin-bottom: 50%;
    }
}

#headshot {
    height: 110px;
    border-radius: 100%;
}

.subheading {
    text-align: left;
    font-size: 25px;
    font-weight: 500;
    margin-top: 10%;
}

.roadmap-image {
    margin-top: 30px;
}

/* Navigation */

.hamburger {
    margin-left: 15px;
    width: 25px;
    height: 21px;
}

.hamburger.active span:nth-child(1){
    transform: translate(0, -125px);
}
.hamburger.active span:nth-child(2){
    transform: translate(0, -100px);
}
.hamburger.active span:nth-child(3){
    transform: translate(0, -75px);
}

.hamburger span  {
    display: block;
    width: 25px;
    height: 3px;
    margin-bottom: 6px;
    border-radius: 2px;
    background-color: hsla(0, 0%, 100%, 0.60);
    transition: .3s ease;
    &:last-child{
        margin-bottom: 0;
    }
}
body.white-mode .hamburger span {
    background-color: hsla(0, 0%, 0%, 0.80);
}

nav {
    height: 6%;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
body.white-mode nav {
    background-color: white;
}

nav .center{
    padding-left: 75px;
    margin-left: auto;
}
nav .center a {
    text-decoration: underline;
    color: white;
}
body.white-mode nav .center a {
    color: black;
    font-weight: 500;
}

nav .right {
    display: flex;
    padding-right: 10px;
    margin-left: auto;
    align-items: center;
}


.list{
    opacity: 0%;
    list-style: none;
    text-align: end;
    position: fixed;
    bottom: 0;
    right: 0;
    margin-bottom: 60px;
    font-size: larger;
    margin-right: 10px;
    transition: .3s ease;
    transform: translate(+100px);
}

.list.active {
    opacity: 100%;
    transform: translate(0);
}


ul li {
    margin-bottom: 10px;

    &:last-of-type {
        margin-bottom: 0;
    }
}

ul li a {
    text-decoration: none;
    color: white;

    &::after {
        color: white;
    }
}
